<footer class="site-footer">

  <div class="footer-wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <ul class="social-footer">
    <!-- {% if site.twitter %}
      <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.facebook %}
      <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.google-plus %}
      <li><a href="{{ site.google-plus }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.instagram %}
      <li><a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.pinterest %}
      <li><a href="{{ site.pinterest }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.youtube %}
      <li><a href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %} -->
    </ul>

    <div class="copyright">
      <p>펫딜 두정 효성점 | <b>대표 </b>임은철 | <b>사업자등록번호 </b>505-35-61289</p>
      <p>충청남도 천안시 서북구 봉정로 324, 제근린생활동 104호(두정동, 두정역 효성해링턴 플레이스)</p>
    </div>
  </div>

</footer> <!-- /.site-footer -->
