<div class="info-box clearfix" style="vertical-align: middle">
  
  <div class="wrapper-content">
    <div class="info-social">
      <ul class="info-social-list">
        <li>
          <a href="{{ site.instagram }}" target="_blank">
            <img src="/images/petdelivery_insta.png" width="48" height="48" alt="">
          </a>
        </li>
        <li>
          <a href="{{ site.roy-instagram }}" target="_blank">
            <img src="/images/roy_insta.png" width="48" height="48" alt="">
          </a>
        </li>
        <li>
          <a href="{{ site.natto-instagram }}" target="_blank">
            <img src="/images/natto_insta.png" width="48" height="48" alt="">
          </a>
        </li>
        <li>
          <a href="{{ site.kakao_opentalk }}" target="_blank">
            <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="Subscribe" value="오픈채팅방 바로가기">
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- /.info-wrapper -->
</div> <!-- /.info-box -->
